<div class="vertical-center">
  <div class="container text-center">
    <div class="row mt-2">
      <div class="col align-self-center text-center">
        <span class="mainText">Hmmm&nbsp;&hellip;</span>
      </div>
    </div>
    <div class="row my-4">
      <div class="col align-self-center text-center">
        <!-- Note: embedding offline.svg here because this page is intended to browse offline -->
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg8" version="1.1" viewBox="0 0 46.139381 30.059893" height="30.059893mm" width="46.139381mm">
          <defs id="defs2"/>
          <metadata id="metadata5">
          </metadata>
          <g transform="translate(-66.339968,-35.807664)" id="layer1">
            <path transform="rotate(-142.2)" d="M -82.760954,3.7653716 A 27.362627,27.362627 0 0 1 -93.466269,25.473603 27.362627,27.362627 0 0 1 -117.20555,30.19564" id="path822" style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.68831171"/>
            <path transform="rotate(-142.2)" d="m -91.154062,3.8183615 a 18.962301,18.962301 0 0 1 -7.418784,15.0438045 18.962301,18.962301 0 0 1 -16.451324,3.272372" id="path822-8" style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.68831171"/>
            <path transform="rotate(-142.2)" d="m -99.631987,3.9769833 a 10.395891,10.395891 0 0 1 -4.067273,8.2476147 10.395891,10.395891 0 0 1 -9.01927,1.794045" id="path822-8-0" style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.68831171"/>
            <path d="m 105.50762,60.867558 a 5,5 0 0 1 -4.78881,4.995537 5,5 0 0 1 -5.193347,-4.573529 5,5 0 0 1 4.350088,-5.381896 5,5 0 0 1 5.560839,4.118883" id="path4571" style="fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.8666147;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.68831171"/>
            <path id="path4573" d="m 98.769072,59.129222 3.477098,3.476672" style="fill:none;stroke:#ffffff;stroke-width:1.50781608;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"/>
            <path d="m 92.669705,62.654758 a 3.2600446,3.2127974 0 0 1 -3.122345,3.209931 3.2600446,3.2127974 0 0 1 -3.386112,-2.938765 3.2600446,3.2127974 0 0 1 2.836297,-3.458188 3.2600446,3.2127974 0 0 1 3.625713,2.646627" id="path4571-2" style="fill:#000000;fill-opacity:0.69019608;stroke:none;stroke-width:1.20819807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.68831171"/>
            <path id="path4573-1" d="m 102.24617,59.129222 -3.477098,3.476672" style="fill:none;stroke:#ffffff;stroke-width:1.50781608;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="row my-2">
      <div class="col align-self-center text-center">
        <span class="secondaryText"><strong>Parece que ya no te encuentras conectado a internet.</strong></span>
        <ul class="text-left my-4">
          <li>Verifica tu conexión y recarga esta página para volver a nuestra home page.</li>
          <li class="mt-2">Opcionalmente presiona el botón de abajo para que nosotros chequeemos por ti.</li>
        </ul>
        <button class="btn btn-primary" type="button" (click)="checkConnectivity()">
          Comprobar conexión
        </button>
      </div>
    </div>
  </div>
</div>