<div class="vertical-center">
  <div class="container text-center">
    <div class="row mt-2">
      <div class="col align-self-center text-center">
        <span class="mainText">Hmmm&nbsp;&hellip;</span>
      </div>
    </div>
    <div class="row my-4">
      <div class="col align-self-center text-center">
        <i class="fa fa-ban icon"></i>
      </div>
    </div>
    <div class="row my-2">
      <div class="col align-self-center text-center">
        <span class="secondaryText"><strong>No se supone que estés acá.</strong></span>
        <p class="my-3">
          <strong>El acceso a este recurso es restringido.</strong> Y me temo que no tienes los permisos necesarios.
          <p>
            Puedes volver a nuestra <a href="javascript:void(0)" (click)="goToHome()">página de inicio</a> y comenzar de
            nuevo desde allí.
          </p>
      </div>
    </div>
  </div>
</div>
