.formPositioning{
    margin-top: 100px; 
}

/* .requiredItem{
    border:3px solid black;
} */

.validatorInvalid::after{
    /* content: " !";
    color: red;
    font-weight: bold; */
    font-family: FontAwesome;
    content: "\f00d";
    display: inline-block;
    padding-left: 0.5em;
    /* vertical-align: middle; */
    color: #a94442;
}
.validatorValid::after{
    /* content: " V";
    color: green;
    font-weight: bold; */
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    padding-left: 0.5em;
    /* vertical-align: middle; */
    color: #42A948;
}