<!-- Navigation Bar -->
<app-navigation-bar></app-navigation-bar>

<!-- New Recipe form -->
<div class="container formPositioning col-lg-8 col-sm">
  <wizard (onStepChanged)="onStepChanged($event)" #wizard>
      <wizard-step [title]="'Detalles'" [isValid]="recipeForm.form.valid && estimatedTime.value > 0">
      <form class="my-4" #recipeForm="ngForm">
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary" [ngClass]="{'validatorValid': (name.valid && name.dirty), 'validatorInvalid': (name.invalid && name.dirty)}"
              data-toggle="tooltip" data-placement="right" title="Esta información es requerida.">Nombre de la receta</span>
          </div>
          <input type="text" class="form-control" placeholder="Ingrese aqui el nombre de la receta" [(ngModel)]="recipe.name" name="name"
            required maxlength="50" autocomplete="off" #name="ngModel">
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Descripción</span>
          </div>
          <textarea class="form-control" placeholder="Ingrese aqui más detalles, como una breve historia de la preparación, curiosidades sobre su origen, precauciones a tener durante la preparación y hasta consejos sobre los ingredientes!"
            [(ngModel)]="recipe.description" name="description" rows="3" maxlength="512"></textarea>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary" [ngClass]="{'validatorValid': (estimatedTime.valid && estimatedTime.value > 0 && estimatedTime.dirty), 'validatorInvalid': ((estimatedTime.invalid || estimatedTime.value == 0) && estimatedTime.dirty)}"
              data-toggle="tooltip" data-placement="right" title="Seleccione el tiempo estimado de esta preparación.">Tiempo estimado</span>
          </div>
          <div class="input-group form-control">
            <input type="range" min="0" max="180" step="10" list="ticks" required class="form-control" [(ngModel)]="recipe.estimatedTime"
              name="estimatedTime" #estimatedTime="ngModel">
            <datalist id="ticks">
              <option value="30">
                <option value="60">
                  <option value="90">
                    <option value="120">
                      <option value="150">
                        <option value="180">
            </datalist>
            <div class="input-group align-items-center">
              <small>{{recipe.estimatedFriendlyTime}}</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary" [ngClass]="{'validatorValid': (level.valid && level.dirty), 'validatorInvalid': (level.invalid && level.dirty)}"
              data-toggle="tooltip" data-placement="right" title="Debe seleccionar un nivel de dificultad de la lista.">Nivel de dificultad</span>
          </div>
          <ngx-select required [multiple]="false" [items]="cache.levels" [(ngModel)]="recipe.level" name="level" optionTextField="name" optionValueField="_id"
            placeholder="Seleccione el nivel de dificultad de esta receta." #level="ngModel">
          </ngx-select>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary" [ngClass]="{'validatorValid': (mealType.valid && mealType.dirty), 'validatorInvalid': (mealType.invalid && mealType.dirty)}"
              data-toggle="tooltip" data-placement="right" title="Seleccione un plato de la lista.">Plato</span>
          </div>
          <ngx-select required [multiple]="false" [items]="cache.mealTypes" [(ngModel)]="recipe.mealType" name="mealType" optionTextField="name"
            optionValueField="_id" placeholder="Seleccione el tipo de plato al que corresponde esta receta." #mealType="ngModel"></ngx-select>
        </div>
      </form>
    </wizard-step>
    <wizard-step [title]="'Ingredientes'" [isValid]="recipe.ingredients && recipe.ingredients.length > 0">
      <form class="my-4" #ingredientsForm="ngForm">
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary" [ngClass]="{'validatorValid': (ingredient.valid && ingredient.dirty), 'validatorInvalid': (ingredient.invalid && ingredient.dirty)}"
              data-toggle="tooltip" data-placement="right" title="Si el ingrediente no está en la lista, puede agregarlo!">Ingrediente</span>
          </div>
          <ngx-select required [multiple]="false" [items]="cache.ingredients" [(ngModel)]="newRecipeIngredient.ingredient" 
            (select)="ingredientSelected()"
            optionTextField="name" optionValueField="_id" name="ingredient" #ingredient="ngModel" 
            placeholder="Seleccione el ingrediente.">
          </ngx-select>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary" [ngClass]="{'validatorValid': (amount.valid && amount.dirty && amount.value > 0 && unit.valid && unit.dirty), 'validatorInvalid': ((amount.invalid || amount.value == 0 || unit.invalid) && amount.dirty && unit.dirty)}"
              data-toggle="tooltip" data-placement="right" title="Ingrese la cantidad a utilizar del ingrediente en la unidad de medida seleccionada.">Cantidad</span>
          </div>
          <div class="form-inline">
            <input type="number" min="0" class="form-control" placeholder="Cantidad a utilizar" [(ngModel)]="newRecipeIngredient.amount"
              name="amount" required #amount="ngModel">
            <ngx-select required [multiple]="false" [items]="compatibleUnits" [(ngModel)]="newRecipeIngredient.unit" optionTextField="name" optionValueField="_id"
              name="unit" #unit="ngModel" placeholder="Seleccione la unidad de medida.">
            </ngx-select>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary my-2 " type="button" 
                [disabled]="!(ingredientsForm.form.valid && amount.value > 0)" (click)="addIngredient();ingredientsForm.form.reset()">Agregar a la lista
                <i class="fa fa-caret-down fa-lg ml-2" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="alert alert-warning" role="alert" 
        *ngIf="!recipe.ingredients || recipe.ingredients.length == 0; else ingredientsList">
        <strong>No hay ingredientes en esta receta!</strong> Completalos indicando la cantidad de cada uno.
      </div>
      <ng-template #ingredientsList>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
            <button class="btn btn-light" type="button" 
                (click)="removeIngredient(ing.ingredient)" data-toggle="tooltip" data-placement="top" 
                title="Eliminar este ingrediente de la lista."><i class="fa fa-times"></i>
            </button>
            {{ parseRecipeIngredient(ing) }}
          </li>
        </ul>
      </ng-template>
    </wizard-step>
    <wizard-step [title]="'Preparación'" [isValid]="recipe.directions && recipe.directions.length > 0">
      <form class="my-4" #directionsForm="ngForm">
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary" [ngClass]="{'validatorValid': (direction.valid && direction.dirty), 'validatorInvalid': (direction.invalid && direction.dirty)}"
              data-toggle="tooltip" data-placement="right" title="Toda receta debe poseer al menos un paso de preparación">Paso de la Preparación</span>
          </div>
          <textarea required class="form-control" placeholder="Ingrese aqui en forma detallada un paso de la preparación." [(ngModel)]="newDirection"
            name="direction" #direction="ngModel" rows="3" maxlength="1024"></textarea>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary my-2 " type="button" [disabled]="!(directionsForm.form.valid)" (click)="addDirection();directionsForm.form.reset()">Agregar a la lista
              <i class="fa fa-caret-down fa-lg ml-2" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="alert alert-warning" role="alert" *ngIf="!recipe.directions || recipe.directions.length == 0; else directionsList">
        <strong>Aún no agregaste los pasos de la preparación!</strong> Completalos en forma detallada, indicando de que forma debe
        incorporarse cada ingrediente.
      </div>
      <ng-template #directionsList>
          <div class="alert alert-warning" role="alert" *ngIf="missingIngredients && missingIngredients.length > 0">
            <strong>Te faltan ingredientes!</strong> Los siguientes aún no han sido incluidos en la preparación: <i>{{ missingIngredients.join(", ") }}</i>
          </div>
          <div class="list-group-item" *ngFor="let dir of recipe.directions; let i = index">
            <div class="input-group-prepend">
              <button class="btn btn-secondary" type="button" (click)="removeDirection(i)" 
                data-toggle="tooltip" data-placement="top" title="Eliminar este paso de la preparación.">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-secondary mx-1" type="button" (click)="editDirection(i)" 
                data-toggle="tooltip" data-placement="top" title="Editar este paso de la preparación.">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <span class="input-group-text mx-3">Paso {{ i + 1 }}</span>
              <button class="btn btn-secondary mx-1" type="button" (click)="moveDirectionDown(i)" 
                [disabled]="i==(recipe.directions.length-1)"
                data-toggle="tooltip" data-placement="top" 
                [title]="(i==(recipe.directions.length-1)) ? 'No es posible mover este paso hacia abajo ahora.' : 'Convertir en Paso ' + (i+2)">
                <i class="fa fa-chevron-down"></i>
              </button>
              <button class="btn btn-secondary mx-1" type="button" (click)="moveDirectionUp(i)"
                [disabled]="i==0"
                data-toggle="tooltip" data-placement="top" 
                [title]="(i==0) ? 'No es posible mover este paso hacia arriba ahora.' : 'Convertir en Paso ' + i">
                <i class="fa fa-chevron-up"></i>
              </button>
            </div>
            <div [innerHTML]="parseIngredientsInDirection(dir)"></div>
          </div>
      </ng-template>
    </wizard-step>
    <wizard-step [title]="'Finalizar!'" (onComplete)="onComplete($event)">
      <div class="container my-5" *ngIf="isCompleted; else recipePreview">
        <div class="row justify-content-center">
          <div class="align-self-center">
            <h3>Deseas agregar otra receta?</h3>
          </div>
          <div class="align-self-center">
            <button class="btn btn-primary mx-4" type="button" (click)="resetForm();ingredientsForm.form.reset()">Si!</button>
          </div>
        </div>
      </div>
      <ng-template #recipePreview>
          <div class="container my-5">
              <div class="row justify-content-center">
                <div>
                    <h3>Perfecto, ya puedes guardar tu receta!</h3>
                </div>
                <div class="my-3">
                    <h4>Haz click en el botón para finalizar.</h4>
                </div>
              </div>
            </div>
      </ng-template>
    </wizard-step>
  </wizard>
</div>