<div class="container my-4">
    <form #publishedForm="ngForm">
      <div class="row justify-content-center">
        <div class="align-self-center form-inline">
          <div class="input-group-prepend">
            <span class="standardInputLegend">Estado de publicación</span>
          </div>
            <mat-slide-toggle color="primary" name="pubToggle" [(ngModel)]="isPublished" #pubToggle="ngModel">
              <span [ngClass]="{'badge badge-primary': isPublished, 'standardInputLegend': !isPublished}">{{ friendlyPublishDate }}</span>
            </mat-slide-toggle>
        </div>
        <div class="align-self-center">
          <div class="alert alert-info my-3" role="alert">
            <h4 class="alert-heading my-4">¿Que significa "Publicar" una receta?</h4>
            <p>
              Las recetas que crees, por defecto serán visibles solo para ti. Ningún otro usuario podrá verlas o
              interactuar con ellas.
            </p>
            <p>
              Para que esto suceda deberás <strong>publicar la receta</strong>. Al hacerlo, será incluida en las búsquedas
              relevantes de cualquier usuario y todos podrán disfrutar de la delicia culinaria que has creado.
            </p>
            <p>
              Podes cambiar este estado de tu receta en todo momento y las veces que desees.
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>