.formPositioning{
    margin-top: 100px; 
}

.userName {
    font-size: 2em;
}

.recipeTitle{
    font-family: 'Bellefair';
    font-size: 2.4em;
}

.recipeDescription{
    font-family: 'Bellefair';
    font-size: 1.2em;
    font-style: italic;
}