.card {
    height: 100%;
    border: 0; 
    background-color: transparent;
}
.card-header { 
    background-color: transparent; 
    padding: 0; 
    font-size: 1.25rem; }
.card-block { 
    overflow-y: visible;  /*This is to allow dropdowns to show the list without the need to scroll down */
}
.card-footer { 
    background-color: transparent; 
    border-top: 0 none; 
}
.nav-item { 
    padding: 1rem 0rem; 
    border-bottom: 0.5rem solid #ccc; 
}
.active { 
    font-weight: bold; 
    color: black; 
    border-bottom-color: #5b91bf !important; 
}
.sameLine {
    white-space: nowrap;
}
.dirty ::after {
    font-family: FontAwesome;
    content: "\f040";
    display: inline-block;
    padding-left: 0.5em;
}
.invalid ::after {
    font-family: FontAwesome;
    content: "\f057";
    display: inline-block;
    padding-left: 0.5em;
    color: #dc3545;
}
.enabled { 
    cursor: pointer; 
    border-bottom-color: #89c4e6; 
}
.disabled { 
    color: #ccc; 
}
.completed { 
    cursor: default; 
}
