/* These are the CSS style overrides for Angular Material components */
@import "../../assets/css/ang-mat-overrides.css";

.uploadedImage{
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 200px;
}

.formPositioning{
    margin-top: 100px; 
}

.pictureCaption{
    opacity: .6;
}

.pictureCaption:focus{
    opacity: 1;
}