<!-- Navigation Bar -->
<app-navigation-bar homePageFeaturesEnabled="true" adminMenuEnabled="true" searchBoxEnabled="true"></app-navigation-bar>

<!-- New Recipe form -->
<div class="container formPositioning col-lg-8 col-sm pt-md-5 pt-sm-0 pt-0">
  <div *ngIf="modelIsReady && model">
    <wizard (onStepChanged)="onStepChanged($event)" #wizard>
      <wizard-step [title]="detailsTabName" [isValid]="recipeDetails.isValid" [isDirty]="recipeDetails.isDirty">
        <app-recipe-details [model]="model" (dataChanged)="onDataChangedHandler($event)"
          [resetSignal]="getResetSignal()" #recipeDetails>
        </app-recipe-details>
      </wizard-step>
      <wizard-step [title]="ingredientsTabName"
        [isValid]="recipeIngredients.isValid" [isDirty]="recipeIngredients.isDirty">
        <app-recipe-ingredients [model]="model" (dataChanged)="onDataChangedHandler($event)"
          (itemDeleted)="onRecipeIngredientDeleted($event)" [resetSignal]="getResetSignal()" 
          [activationSignal]="getActivatedTabSignal()" #recipeIngredients>
        </app-recipe-ingredients>
      </wizard-step>
      <wizard-step [title]="directionsTabName"
        [isValid]="recipeDirections.isValid" [isDirty]="recipeDirections.isDirty">
        <app-recipe-directions [model]="model" (dataChanged)="onDataChangedHandler($event)"
          [activationSignal]="getActivatedTabSignal()" [resetSignal]="getResetSignal()" #recipeDirections>
        </app-recipe-directions>
      </wizard-step>
      <wizard-step [title]="photosTabName" [isDirty]="recipePhotos.isDirty">
        <app-recipe-photos [model]="model" (dataChanged)="onDataChangedHandler($event)" 
        (itemDeleted)="onRecipePictureDeleted($event)" [resetSignal]="getResetSignal()" #recipePhotos>
        </app-recipe-photos>
      </wizard-step>
      <wizard-step [title]="publishingTabName" [isDirty]="recipePublishing.isDirty">
        <app-recipe-publishing [model]="model" (dataChanged)="onDataChangedHandler($event)"
          [resetSignal]="getResetSignal()" #recipePublishing>
        </app-recipe-publishing>
      </wizard-step>
      <wizard-step [title]="finishTabName" (onComplete)="onComplete($event)">
        <div class="container my-3" *ngIf="isCompleted; else recipePreview">
          <div class="row justify-content-center">
            <div class="align-self-center">
              <h3>Deseas agregar otra receta?</h3>
            </div>
            <div class="align-self-center">
              <button class="btn btn-primary mx-4" type="button" (click)="resetForm(true)">Si!</button>
            </div>
          </div>
        </div>
        <ng-template #recipePreview>
          <div class="container my-4">
            <div class="row justify-content-center">
              <div class="align-self-center py-3">
                <div class="alert alert-info px-5 my-3" role="alert">
                  <div class="row justify-content-center">
                    <h3 class="alert-heading my-4">¡Perfecto, ya casi terminamos!</h3>
                  </div>
                  <p *ngIf="isNewRecipe; else updatedRecipe">
                    Un simple click en el botón finalizar y guardaremos tu nueva receta.
                  </p>
                  <ng-template #updatedRecipe>
                    <p>
                      Un simple click en el botón finalizar y actualizaremos tu receta con los cambios que realizaste.
                    </p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </wizard-step>
    </wizard>
  </div>
  <div *ngIf="modelIsReady && !model" class="alert alert-warning formPositioning" role="alert">
    <div class="row">
      <div class="col-3 align-self-center text-center">
        <i class="fa fa-chain-broken fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-9 align-self-start">
        <h3>Oops!</h3>
        <p>
          <strong>Parece que la receta que buscas ya no existe!.</strong>
        </p>
        <p>Intenta volver a nuestra
          <a href="javascript:void(0)" (click)="goToHome()">página principal</a> y buscarla por su nombre o sus
          ingredientes.</p>
      </div>
    </div>
  </div>
</div>