.recipeTitle{
    font-family: 'Montserrat';
    font-size: 1.6em;
}

.recipeDescription{
    font-family: Roboto;
    font-size: 1em;
    font-weight: 300;
    font-style: italic; 
}

.recipeDirections{
    font-family: 'Montserrat';
    font-size: 0.8em;
}

.recipeDirections article:not(:last-child) {
    border-bottom: 1px dotted lightgray;
}

.noBorder {
    border-bottom: none !important;
}

.roundedList{
    color: white;
    font-weight: 600;
}
