<div class="vertical-center">
  <div class="container text-center">
    <div class="row mt-2">
      <div class="col align-self-center text-center">
        <span class="mainText">Estamos cocinando&nbsp;&hellip;</span>
      </div>
    </div>
    <div class="row my-4 justify-content-center">
      <div class="col-auto align-self-center text-center">
        <div class="potContainer text-center">
          <img class="potFlame text-center" id="flames" name="flames" [src]="assets.otherPictures.potAnimationFlames">
          <img class="pot text-center" [src]="assets.otherPictures.potAnimationPot">
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col align-self-center text-center">
        <span class="secondaryText"><strong>&hellip;algunos cambios.</strong></span>
      </div>
    </div>
    <div class="row my-2">
      <div class="col align-self-center text-center">
        <span class="secondaryText">Pronto estaremos listos para atenderte nuevamente. Por favor reintenta luego.</span>
      </div>
    </div>
  </div>
</div>