<!-- Navigation Bar -->
<app-navigation-bar searchBoxEnabled="false" homePageFeaturesEnabled="false" adminMenuEnabled="false"></app-navigation-bar>

<!-- Content -->
<div class="container formPositioning">
  <h2>¿Que es "Mis Recetas"?</h2>
  <p class="lead my-5">Este sitio fue creado con el propósito de aprender nuevas, pero ya bien establecidas,
    tecnologías de
    desarrollo de sitios web y también nuevos servicios ahora disponibles que facilitan integrar
    funcionalidad provista por terceros.
  </p>
  <p class="mt-3">
    Utilizamos <a href="https://angular.io/docs">Angular</a>, una plataforma de Google para construir aplicaciones
    web. <a href="https://getbootstrap.com/">Bootstrap</a> en nuestro frontend nos ayuda a crear un diseño moderno
    y mobile oriented, y otros tantos componentes creados por la comunidad open source de desarrolladores y
    disponibles en el repositorio público de <a href="https://www.npmjs.com/">NPM</a> nos ayudaron a crear "Mis
    Recetas".
  </p>
  <p class="mt-3">
    Nuestro backend es un conjunto de REST web services desarrollados con <a href="https://nodejs.org/en/">Node.js</a>
    y <a href="https://expressjs.com/">Express.js</a>. Para almacenar los datos de nuestros usuarios y en función
    del tipo de información que vamos a almacenar, decidimos implementar <a href="https://www.mongodb.com/what-is-mongodb">Mongo
      DB</a>
    , una base de datos escalable y orientada a documentos.
  </p>
  <p class="mt-3">
    Nuestro código es open source, (no podía ser de otra forma), utilizamos un repositorio público de 
    <a href="https://github.com/">GitHub</a>, el cual puede accederse <a href="https://github.com/Elmosoftware/my-recipes">aqui</a>.
  </p>
  <p class="mt-3">
    Hacemos a su vez un uso intensivo de diferentes servicios en la nube que son muy interesantes a la vez que
    generosos al ofrecernos una versión gratuita sin límite de tiempo.<br>Te invitamos a conocerlos e
    incorporarlos en tu proximo proyecto.
  </p>
  <div class="mt-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="https://github.com/">ZEIT NOW</a>: Serverless deployments en forma simple.</li>
      <li class="list-group-item"><a href="https://auth0.com/">Auth0</a>: Gestión de Autenticación y Autorización de
        usuarios
        completa ofreciendo también conectores a redes sociales.</li>
      <li class="list-group-item"><a href="https://www.mongodb.com/cloud/atlas">Mongo DB Atlas</a>: Nuestra Base de datos
        en la nube.
        ¡Incluyendo en la versión gratuita 500MB de espacio libre y un cluster!</li>
      <li class="list-group-item"><a href="https://cloudinary.com/">Cloudinary</a>: Manejo de imagenes y video en la nube
        y posibilidad de uso como CDN.</li>
    </ul>
  </div>
  <p class="mt-4">
      Pero lo más importante: <strong>Poder crear tus Recetas y compartirlas con el mundo!</strong>
  </p>
  <p class="mt-3">
      <a routerLink="/home">Volver a nuestra home page</a>.
  </p>
</div>