<ng-progress [showSpinner]="false"></ng-progress>

<div infinite-scrolling [scrollWindow]="true" (scroll)="onScrollHandler($event)">
  <nav [@isVisibleChanged]="isVisible" class="navbar navbar-expand-md navbar-light fixed-top bg-light home-page-section navbar-section">
    <img class="navbar-logo-small mx-4" src="../assets/images/logo.svg" alt="My Recipes Website">
    <a class="navbar-brand" routerLink="/home">Mis Recetas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <div *ngIf="homePageFeaturesEnabled" class="ml-auto ml-lg-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Recetario</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <div class="dropdown-item"><a pageScroll class="nav-link" href="#recently-added">Recientes</a></div>
              <div *ngIf="authSvc.isAuthenticated" class="dropdown-item"><a class="nav-link" routerLink="/recipe">Crear una receta</a></div>
              <div class="dropdown-item"><a pageScroll class="nav-link" href="#search-by-ingredient">Hoy quiero con ...</a></div>
            </div>
          </li>
        </div>
        <div *ngIf="adminMenuEnabled" class="ml-auto ml-lg-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Administración</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <div class="dropdown-item"><a class="nav-link" routerLink="/mealtypes">Platos</a></div>
              <div class="dropdown-item"><a class="nav-link" routerLink="/levels">Niveles de dificultad</a></div>
              <div class="dropdown-item"><a class="nav-link" routerLink="/units">Unidades de medida</a></div>
              <div class="dropdown-item"><a class="nav-link" routerLink="/ingredients">Ingredientes</a></div>
            </div>
          </li>
        </div>
      </ul>
      <div *ngIf="searchBoxEnabled" class="navbar-form" role="search">
        <div class="input-group">
          <search-box searchType="text" placeHolder="La receta que buscás..." (search)="onSearchHandler($event)"></search-box>
        </div>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true" id="dropdown02">
            <i *ngIf="authSvc.isAuthenticated; else notAuthUserImage">
              <img class="rounded-circle profile-picture" [src]="authSvc.userProfile.picture" [alt]="authSvc.userProfile.name"
                data-toggle="tooltip" data-placement="bottom" [title]="authSvc.userProfile.userNameAndAccount">
            </i>
            <ng-template #notAuthUserImage>
              <i class="fa fa-user fa-fw"></i>
            </ng-template>
          </div>
          <div class="dropdown-menu dropdown-user" aria-labelledby="dropdown02">
            <div *ngIf="!authSvc.isAuthenticated" class="dropdown-item" (click)="login()">
              <i class="fa fa-sign-in fa-fw"></i> Iniciar sesión
            </div>
            <div *ngIf="authSvc.isAuthenticated && !authSvc.userProfile.isSocial">
              <div class="dropdown-item" (click)="changePassword()">
                <i class="fa fa-gear fa-fw"></i> Cambiar contraseña
              </div>
              <div class="dropdown-item" (click)="userPreferences()">
                <i class="fa fa-gear fa-fw"></i> Preferencias
              </div>
        <li class="dropdown-divider"></li>
    </div>
    <div *ngIf="authSvc.isAuthenticated" class="dropdown-item" (click)="logout()">
      <i class="fa fa-sign-out fa-fw"></i> Finalizar sesión
    </div>
</div>
</li>
</ul>
</div>
</nav>
</div>