.file-dropper-dropZone {
    background-image: url(../../../assets/images/cloud-wide.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 120px;
    max-height: 120px;
    min-width: 250px;
    max-width: fit-content;
    overflow: hidden;
    color: #89c4e6;
}

.file-dropper-icon{
    position: relative;
    top: 12px;
    margin: auto;
}

.file-dropper-message {
    font-size: .75rem;
    position: relative;
    bottom: -12px;
}

.file-dropper-progress{
    position: relative;
    top: 13px;
    margin: auto;
}

.file-dropper-progress-message {
    font-size: .75rem;
    position: relative;
    bottom: -25px;
}

.file-dropper-disabled{
    filter: grayscale(1) opacity(0.5);
}

.file-dropper-active {
    cursor: crosshair;
}

.file-dropper-inactive{
    filter: brightness(.95);
    opacity: .8;
}
