<a id="recently-added"></a>
<div *ngIf="cache.latestRecipes && cache.latestRecipes.length; else noData ">
  <div class="jumbotron recently-added-section">
    <div class="container my-3">
      <div class="row">
        <div *ngFor="let recipe of cache.latestRecipes" class="col-md-4">
          <h3>{{ recipe.name }}</h3>
          <p [innerHtml]="helper.getShortText(recipe.description)"></p>
          <p>
            <a class="btn btn-secondary" routerLink="/recipe-view/{{recipe._id}}" role="button">View details »</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <div class="col-md-12 my-lg-5 my-sm-2">
      <h3 class="text-center my-5">Aún no hay ninguna receta creada!</h3>
      <h6 class="my-1">¿Que esperas para
        <a routerLink="/new-recipe">crear una nueva</a>?</h6>
    </div>
  </ng-template>
</div>