<div class="vertical-center">
  <div class="container text-center">
    <div class="row my-5">
      <div class="col align-self-center text-center">
        <span class="mainText">¡Bienvenido!</span>
      </div>
    </div>
    <div class="row my-5">
      <div class="col align-self-center text-center my-5">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw mx-5"></i>
        <i class="fa fa-handshake-o fa-5x mx-5 icon"></i>
      </div>
    </div>
    <div class="row my-5">
      <div class="col align-self-center text-center">
        <span class="secondaryText"><strong>Estamos preparando el sitio, solo para ti...</strong> Espera un momento por
          favor.</span>
      </div>
    </div>
  </div>
</div>
