<div *ngIf="!searchInProgress; else noData">
  <div class="input-group input-group-md">
    <input matInput [matAutocomplete]="auto" [formControl]="searchTextBox" type="text" class="form-control"
      [placeholder]="placeHolder" aria-label="Search" (keyup.enter)="startSearching()">
    <div class="input-group-append">
      <button [disabled]="!svcSearch.termIsValid" class="btn btn-default" (click)="startSearching()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="suggestionSelected($event)">
    <mat-option *ngFor="let item of suggestions" [value]="item.id">
      {{ item.text }}
    </mat-option>
  </mat-autocomplete>
</div>
<ng-template #noData>
  <i class="fa fa-spinner fa-pulse fa-fw"></i>{{ getSearchingLegend() }}
</ng-template>