<!-- Navigation Bar -->
<app-navigation-bar searchBoxEnabled="true"></app-navigation-bar>

<!-- View Recipe -->
<div class="container formPositioning">
  <div *ngIf="model">
    <div class="row align-items-center">
      <div class="alert alert-warning" role="alert" *ngIf="!model.publishedOn">
        <strong>¡Aún no publicaste esta receta!</strong> Por el momento solo vos podés verla.
        Si querés compartirla con nuestra comunidad de cocineros, podés publicarla desde el formulario de edición.
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-11 text-center recipeTitle">
        {{ model.name }}
      </div>
      <div class="col-1">
        <button id="btnEditRecipe" class="btn btn-primary" type="button" (click)="editRecipe()">
          <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar esta receta."></i>
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i id="tooltip1" class="fa fa-cutlery" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Plato."></i>
        <span>{{ model.mealType.name }}</span>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fa fa-clock-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Tiempo de preparación."></i>
        <span>{{ helper.estimatedFriendlyTime(model.estimatedTime) }}</span>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fa fa-signal" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Nivel de dificultad."></i>
        <span data-toggle="tooltip" data-placement="top" title="Nivel de dificultad.">
          {{ model.level.name }}</span>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fa fa-ellipsis-v" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Cantidad de ingredientes en la preparación."></i>
        <span>{{ model.ingredients.length }}</span>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fa fa-map-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Cantidad de pasos de esta preparación."></i>
        <span>{{ model.directions.length }}</span>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fa fa-cart-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title='Ingredientes a comprar! (solo en modo "Preparación").'></i>
        <span>{{ shoppingList.length }}</span>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="py-2 col-9 text-center recipeDescription">
        {{ model.description }}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-4">
        <div class="py-3 mb-4 border border-left-0 border-right-0 border-dark text-center recipeListTitle">
          <span>Ingredientes</span>
        </div>
        <ul class="recipeList">
          <li *ngFor="let ing of model.ingredients">
            {{ ing.ingredient.name + ", " + ing.amount.toString() + ing.unit.abbrev }}
            <mat-slide-toggle class="ml-1" color="primary" checked="false" [hidden]="!preparationMode" (change)="toggleShoppingListItem(ing.ingredient.name + ', ' + ing.amount.toString() + ing.unit.abbrev)">
              <i class="ml-1 fa fa-cart-arrow-down fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                title='Agrega este ingrediente a tu lista de compras.'></i>
            </mat-slide-toggle>
          </li>
        </ul>
        <div>
          <button class="btn btn-primary text-center mb-4" type="button" [hidden]="!preparationMode" [disabled]="shoppingList.length < 1"
            (click)="printShoppingList()">
            <i class="fa fa-print" aria-hidden="true" data-toggle="tooltip" data-placement="top" title='Imprimir mi lista de compras!.'></i>
          </button>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="py-3 mb-4 border border-left-0 border-right-0 border-dark recipeListTitle">
          <button class="btn btn-primary text-center" type="button" [disabled]="preparationMode" (click)="enablePreparationMode()">
            <i class="fa fa-cogs" aria-hidden="true" data-toggle="tooltip" data-placement="top" title='Cambiar a modo "Preparación"!'></i>
          </button>
          <span class="col-3 offset-3 col-md-3 offset-md-3">Preparación</span>
        </div>
        <div class="mb-2 recipeList" *ngFor="let dir of model.directions; let i = index">
          <button [disabled]="!preparationMode" class="btn btn-primary rounded-circle text-center roundedList" type="button"
            (click)="stepDone(i+1)" [ngClass]="{'stepMarkedAsDone': lastStepDone >= (i+1)}">{{ i + 1 }}</button>
          {{ dir }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="modelIsReady && !model" class="alert alert-warning formPositioning" role="alert">
    <div class="row">
      <div class="col-3 align-self-center text-center">
        <i class="fa fa-chain-broken fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-9 align-self-start">
        <h3>Oops!</h3>
        <p>
          <strong>Parece que la receta que buscas ya no existe!.</strong>
        </p>
        <p>Intenta volver a nuestra
          <a routerLink="/home">página principal</a> y buscarla por su nombre o sus ingredientes.</p>
      </div>
    </div>
  </div>
</div>