<!-- Header -->
<div class="wrapper">
  <div class="container-fluid fixed-top">
    <div class="row">
      <button type="button" id="sidebarCollapse" class="col-1 rounded-left btn-dark">
        <i class="fa fa-compress"></i>
      </button>
      <button type="button" class="col-1 rounded-right btn-dark">
        <a class="hlp-unstyled" routerLink="/home">
          <i class="fa fa-home"></i>
        </a>
      </button>
    </div>
  </div>
  <nav id="sidebar" class="bg-light">
    <div>
      <h2 class="my-5 text-center">Administración</h2>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="/backend/mealtypes">Platos</a>
      </li>
      <li>
        <a routerLink="/backend/levels">Niveles de dificultad</a>
      </li>
      <li>
        <a routerLink="/backend/units">Unidades de medida</a>
      </li>
      <li>
        <a routerLink="/backend/ingredients">Ingredientes</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <h3>Bienvenido al sitio de Administración de My Recipes</h3>
    <div *ngIf="route == '/backend'">
      <p>Seleccione alguna de las opciones del menu de la izquierda.</p>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>