@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";

@font-face {
    font-family: 'Bellefair';
    /* font-style: normal;
    font-weight: 400; */
    src: url('./assets/fonts/Bellefair.ttf') format('truetype');
  }

body{
    /* font-family: 'Helvetica Neue', Roboto, serif, 'Bellefair'; */
}

/* FORMS */
/* 
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid;
  border-color: #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid; 
  border-color: #a94442;
} */


/* Helper classes */
/* ----------------------------------------- */

/* .link-unstyled {
    &,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      border: inherit;
      outline: inherit;
      box-shadow: inherit;
      padding: inherit;
      vertical-align: inherit;
    }
  } */

  .hlp-unstyled {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      /* border: inherit; */
      outline: inherit;
      box-shadow: inherit;
      padding: inherit;
      vertical-align: inherit;
  }


