.formPositioning{
    margin-top: 65px; 
}

.contentWidth {
    min-width: 400px;
}

.filterStickyToFront{
    position: sticky;
    top: 0;
    z-index: 900;
}

.contentStickyToBack{
    position: sticky;
    z-index: 800;
}