<!-- Navigation Bar -->
<app-navigation-bar homePageFeaturesEnabled="true" adminMenuEnabled="true" searchBoxEnabled="true"></app-navigation-bar>

<!-- 1st Section: Site name, logo Photo Carousel -->
<app-carousel [items]="cache.homePagePictures"></app-carousel>

<!-- 2nd Section: New Recipes -->
<app-latest-recipes></app-latest-recipes>

<!-- 3rd Section: Search by ingredients -->
<div class="jumbotron home-page-section search-by-ingredient-section">
  <a id="search-by-ingredient"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-lg-5 my-sm-2">
        <h3 class="text-center">Hoy tenes ganas de un ingrediente en particular?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-lg-5 my-sm-2">
        <search-box searchType="ingredient" (search)="onSearchHandler($event)"></search-box>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer home-page-section footer-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 text-left">
        <span>© 2017 Elmosoftware Corp. All Rights Reserved.</span>
      </div>
      <div class="col-md-4 text-right">
        <ul class="list-inline">
          <li>
            <a routerLink="/about">Acerca del sitio</a>
          </li>
          <li>
            <a [href]="contactEmailLink">Contacto</a>
          </li>
          <li>
            <a href="../assets/misc/terms.pdf" target="_blank">Términos de uso</a>
          </li>
          <li>
            <a href="../assets/misc/privacy.pdf" target="_blank">Politica de privacidad</a>
          </li>
          <li>
            <a [href]="procastinationRandomUrl" target="_blank" data-toggle="tooltip" data-placement="top" 
            title="Procastinar: Aplazar tareas, deberes y responsabilidades por otras actividades que nos resultan más gratificantes pero que son irrelevantes.">Procastinación</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>