.home-page-section{
    margin: 0;
    border-radius: 0;
}

.footer-section{
    padding-top: 20px;
}

.footer-section a{
    color: rgba(255,255,255,.5);
}

.footer-section span{
    color: rgba(255,255,255,.5);
    font-size: .6rem;
}

.footer-list{
    width: 100%;
}

.footer-copyright{
    width: 100%;
}

.ingredient-pictures-credits{
    color: #998b8f;
    font-size: .7rem;
}

