.carousel-image{
    width:100%;
}

.carousel-center-logo{
    width: 45%;
}

.carousel-center-text{
    padding-top: 50px;
}

.home-page-section{
    margin: 0;
    border-radius: 0;
}

.search-by-ingredient-section{
    background-color: rgb(241, 238, 168);
}

.footer-section{
    background-color: black;
    color: rgb(172, 172, 172);
    padding-top: 20px;
}

.footer-section a{
    color: rgb(172, 172, 172);
}