<div class="vertical-center">
    <div class="container text-center">
      <div class="row my-5">
        <div class="col align-self-center text-center">
          <span class="mainText">¡Ya está casi listo!</span>
        </div>
      </div>
      <div class="row my-5">
        <div class="col align-self-center text-center my-5">
          <i class="fa fa-spinner fa-pulse fa-5x fa-fw mx-5"></i>
          <i class="fa fa-address-card-o fa-5x mx-5 icon"></i>
        </div>
      </div>
      <div class="row my-5">
        <div class="col align-self-center text-center">
          <span class="secondaryText"><strong>En unos segundos podrás crear tus propias recetas.</strong></span>
        </div>
      </div>
    </div>
  </div>